.main-footer-container{

    // width: 110%;
    margin-inline-start: -10%;
    margin: auto 0;
    background-color:#0b1524;
    color: #fff;
        .footer-content{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }